<!DOCTYPE html>
<html ng-app ng-controller="TodoCtrl">
<% include header %>
<body>
<% include navbar %>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="todoContainer">
                <h1>Todo List</h1>
                <span>{{remaining()}} of {{todos.length}} remaining</span> [ <a
                        href="" ng-click="archive()">archive</a> ]
                <ul class="unstyled">
                    <li ng-repeat="todo in todos"><input type="checkbox" ng-model="todo.done">
                        <span class="done-{{todo.done}}">{{todo.text}}</span>
                        <button type="button" ng-click="toggleEditInput(todo)" class="btn btn-default">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </li>
                    <div class="input-group" ng-if="openInputField">
                        <input type="text" class="form-control" ng-model="editedTextField"
                               placeholder="Edit your stuff">
                      <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="editTodo()" type="button">Apply</button>
                      </span>
                    </div>
                </ul>
                <form name="todoForm" ng-submit="addTodo()">
                    <div class="col-md-12">
                        <div class="input-group input-group-lg">
                            <input class="form-control" type="text" ng-model="todoText"
                                   size="30" placeholder="add new todo here"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-lg" type="submit">Add</button>
                        </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="userContainer">
                <h1>Users List</h1>
                <form ng-submit="addUser()">
                    <div class="col-md-12">
                        <div class="input-group input-group-lg">
                            <input class="form-control" type="text" ng-model="userName"
                                   size="30" placeholder="add a new user here"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-lg" type="submit">Add</button>
                        </span>
                        </div>
                    </div>
                </form>
                <li ng-repeat="user in users">
                    <span class="done-{{todo.done}}">{{user.name}}</span>
                    <button type="button" ng-click="deleteUser(user)" class="btn btn-default">
                        <i class="glyphicon glyphicon-minus-sign"></i>
                    </button>
                </li>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <% include footer %>
</div>
</body>
</html>