body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
    list-style-type: none;
}

.userForm {
    position: fixed;
    bottom:20px;
}
.todoForm {
    position: fixed;
    bottom:20px;
}

.linkBtn, .listItems {
    cursor: pointer;
}

.listItems:hover {
    background-color: gray;
}

.listItems {
    padding-left:10px;
}